[data-css~="project-download"] {
  // 文件下载
  .main-content {
    .project-download {
      margin: 10px;

      .uls {
        > li {
          background: #eaeaf0;
          border-radius: 2px;
          cursor: pointer;
          text-align: center;
        }

        li.selected {
          background: var(--color3);
          color: var(--color2);
        }
      }

      .project-download-file {
        .documents {
          .border-1 {
            border-bottom: 1px solid #d8d8d8;
          }

          > div {
            padding-top: 28px;

            .document-content {
              width: 85%;

              h3 {
                font-size: 18px;
                color: #403f40;
              }

              p {
                font-size: 16px;
                color: #9b9b9b;
              }
            }

            .download-btn {
              width: 99px;
              height: 34px;
              line-height: 34px;
              color: #fff;
              text-align: center;
              border-radius: 2px;
              background-color: var(--color1);

              a {
                font-size: 16px;
              }
            }
          }

          > div:hover {
            background: #f9f9f9;
          }
        }
      }
    }
  }
}
