[data-css~="project-default-pagination"] {
  .pagination {
    a.page-link {
      color: var(--color1);
      border-radius: 0.25rem;

      &:hover {
        color: #fff;
        background-color: var(--color2);
      }
    }

    span.page-link {
      color: #6c757d;
      border-radius: 0.25rem;
    }
  }
}
