{% load natureself %}
<div data-css="project-default-pagination">
  <ul class="pagination justify-content-center mt-4 mb-4">
    <li class="page-item mr-2 {% if not page.has_previous %}disabled{% endif %}">
    {% if page.has_previous %}
      <a class="page-link" href="?{% url_replace page=page.previous_page_number %}" tabindex="-1" aria-disabled="true">上一页</a>
    {% else %}
      <span class="page-link">上一页</span>
    {% endif %}
    </li>

    {% for page_number in page.paginator.page_range %}
    <li class="page-item mr-2 d-sm-none d-md-block {% if page.number == page_number %}disabled{% endif %}">
    {% if page.number == page_number %}
    <span class="page-link">{{ page_number }}</span>
    {% else %}
    <a class="page-link" href="?{% url_replace page=page_number %}">{{ page_number }}</a>
    {% endif %}
    </li>
    {% endfor %}

    <li class="page-item mr-2 {% if not page.has_next %}disabled{% endif %}">
    {% if page.has_next %}
      <a class="page-link" href="?{% url_replace page=page.next_page_number %}">下一页</a>
    {% else %}
      <span class="page-link">下一页</span>
    {% endif %}
    </li>
  </ul>
</div>
